@import "../base/variables.scss";

.hero {
  &.grid {
    display: grid;
    grid-template-areas:
      "text text"
      "img1 img2"
      "img3 img4";
    grid-gap: 1rem;

    @media screen and (min-width: 993px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 200px 200px;
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    .grid-1 {
      grid-area: img1;
      @media screen and (min-width: 993px) {
        grid-column: 1 / span 1;
        grid-row: 1 / 2;
      }
    }

    .grid-2 {
      grid-area: img2;
      @media screen and (min-width: 993px) {
        grid-column: 1 / span 1;
        grid-row: 2 / 3;
      }
    }
    .grid-3 {
      grid-area: img3;
      @media screen and (min-width: 993px) {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
      }
    }

    .grid-5 {
      grid-area: text;

      @media screen and (min-width: 993px) {
        grid-column: 3 / span 1;
        grid-row: 1 / 2;
      }
      background-color: var(--main-clr);

      padding: 0 0.5rem;
      p {
        color: var(--white);
        font-size: larger;
        font-weight: 300;
      }
    }
    .grid-4 {
      grid-area: img4;

      @media screen and (min-width: 993px) {
        grid-column: 3 / span 1;
        grid-row: 2 / 3;
      }
    }
    // }
  }
}

.shop-by {
  .temp-grid {
    img {
      max-width: 32%;
    }
  }
}
