@import "../base/variables.scss";

.framed {
  border: solid 1px var(--grey);
  border-radius: 2px;
  padding: 1rem;
  background-color: var(--white);
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  border-radius: 2px;
  .card-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  .card-content {
    padding: 24px;
  }

  .card-horizontal {
    display: flex;
    .card-content {
      padding: 1rem;
    }
  }

  .card-box {
    display: inline;
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 0.25rem 0.25rem;
    margin: 0;
    > * {
      display: inline;
      margin: 0;
      color: var(--white);
    }
  }

  .card-bg-img {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-color: var(--grey);
  }
  .card-title {
    padding: 0 1rem;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.54);
  }
}
