@import "../base/variables.scss";

#header {
  .header-top {
    padding-bottom: 0;
  }
  // @media (min-width: 1020px) {
  //   height: 85px;
  // }

  &.main-header {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .top-bar-nav {
      height: 60px;
      background-color: var(--white);
      display: flex;
      justify-content: space-between;

      ul {
        display: flex;
        li {
          margin-right: 1rem;
        }
      }
    }

    .logo {
      background-color: var(--main-clr);
      color: var(--white);
      width: 100%;
    }
  }
  nav {
    &.header-nav {
      width: 100%;
      margin-bottom: 0;

      #search_widget {
        button {
          box-shadow: none;
        }
      }

      .mobile {
        justify-content: space-between;
        position: relative;
        #menu-icon {
          padding-left: 15px;
        }

        #_mobile_cart {
          position: absolute;
          right: 1rem;
          svg {
            height: 23px;
            width: 17px;
          }
        }

        #_mobile_logo {
          padding-top: 0;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          h1 {
            margin-bottom: 0;
          }

          svg.icon {
            height: 60px;
            // fill: $main-clr;
          }
        }
      }

      /* desktop */
      .right-nav {
        align-items: center;

        > * {
          margin-right: 1rem;
          padding-right: 1rem;
        }
      }
    }
  }

  .header-top {
    &.logo {
      background: $main-clr;

      .container .row {
        justify-content: center;
        padding: $gutter 0 0;
      }

      #_desktop_logo {
        svg {
          fill: $white;
          height: 100px;
        }
      }
    }
  }
  .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.desktop_language_selector {
  button.unstyle {
    box-shadow: none;
  }
}

.dropdown {
  .expand-more {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.open > .dropdown-menu {
  display: block;
}

.dropdown select {
  -moz-appearance: none;
  border: 0 none;
  outline: 0 none;
  background: #fff;
}
